.break-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: greenyellow;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem;
}

#break-label {
    margin: 0;
}