.timer-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid black;
}

#timer-label {
    margin: 0;
}

#time-left {
    font-size: 2.5rem;
    margin: 1rem;
    padding: 1rem 1.5rem;
    color: white;
    background: black;
    border-radius: 1rem;
}